__pycache__/
venv/
.git/
*chrome*
*json*
proxies.txt
cookies*
.*
*.crt
logs/
build/
dist/
config_manager
log.txt
main.exe
main.spec
nohup.out
projected_checker.bak
requirements2.txt
screenshot.png
test_gain.py
threading
time
traceback
webhooks
